{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<section id="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="herohead">Growth Engineer from 🇧🇦 living in 🇨🇿</h1>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container">
    <div class="row">
      <div class="firstproject boxes col-md-4">
        <h3>a1garde - Investments</h2>
      </div>

      <div class="secondproject boxes col-md-4">
        <h3>Home Story - Luxury Furniture</h2>
      </div>

      <div class="thirdproject boxes col-md-4">
        <h3>aareaa - Real Estate</h2>
      </div>
    </div>
  </div>
</section>

<section id="aboutme">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="abouthead">About me</h1>
        <p class="aboutparagraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor, sapien lobortis iaculis egestas, velit erat semper turpis, mattis ultricies ipsum metus in purus. Pellentesque vitae nunc consequat, molestie leo non, maximus sem. Duis odio ante, tristique non magna non, convallis rutrum velit.
          <br><br>Aliquam sit amet risus dapibus velit rhoncus faucibus ut sit amet odio. Duis lacinia urna in diam placerat, vitae sagittis velit semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lorem lorem, ultrices at sapien sit amet, cursus tincidunt odio.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="footer">Copyright &copy 2018 - <strong>Ned Mehic</strong></div>
{% endblock %}
