{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <section id="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="projectshead">Projects I'm proud of 👌🏻</h2>
        </div>
      </div>
    </div> 
  </section>

  <section id="projects">
    <div class="container">
      <div class="row">

        <div class="projects col-md-4">
          <img src="../images/edgeland.jpg" alt="">
          <h3>a1garde - Investments</h3>
        </div>

        <div class="projects col-md-4">
          <img src="../images/eichholtz.jpg" alt="">
          <h3>Home Story - Luxury Furniture</h3>
        </div>

        <div class="projects col-md-4">
          <img src="../images/aareaa.jpg" alt="">
          <h3>aareaa - Real Estate</h3>
        </div>

        <div class="projects col-md-4">
          <img src="../images/edgeland.jpg" alt="">
          <h3>a1garde - Investments</h3>
        </div>

        <div class="projects col-md-4">
          <img src="../images/eichholtz.jpg" alt="">
          <h3>Home Story - Luxury Furniture</h3>
        </div>

        <div class="projects col-md-4">
          <img src="../images/aareaa.jpg" alt="">
          <h3>aareaa - Real Estate</h3>
        </div>


      </div>
    </div>
  </section>


<div class="footer">Copyright &copy 2018 - <strong>Ned Mehic</strong></div>
{% endblock %}
