body{
  font-family: 'Josefin Sans', sans-serif;

}

body, .smooth-container { scroll-behavior: smooth }

.navbar-brand{
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 25px;
}

#hero{
  height:100%;
  margin: 90px 0 50px 0;
  width: 100%;
}


.bg-light{
  border-bottom: 1px solid #ddd;
  background-color: #fff !important;
}

.herohead{
  margin-left: auto;
  text-align: center;
  font-weight: bold;
}

.nav-link{
  text-align: center !important;
  padding-right: 30px !important;
}

.boxes{
  background-color: #eee;
  border: 3px solid transparent;
  background-clip:padding-box;
  height: 450px;
  border-radius: 15px;
  position: relative;
}

.boxes:hover{
  filter: drop-shadow(0px 5px 10px #777);
  transition: 0.3s;
}

.boxes h3{

  color: #fff;
  filter: drop-shadow(2px 2px 5px #333);
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 20px;
  width: 90%;
}

.firstproject{
  background-image: url(/images/edgeland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondproject{
  background-image: url(/images/eichholtz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdproject{
  background-image: url(/images/aareaa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar a{
  text-decoration: none !important;
}


#aboutme{
  height:100%;
  margin: 50px 0 50px 0;
  width: 100%;
}


.abouthead{
  margin-left: auto;
  text-align: center;
  font-weight: bold;
}

.aboutparagraph{
  font-size: 20px;
  text-align: center;
}

.footer {

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
}
